---
const { active } = Astro.props;
---
<header class="main-header">
    <div class="nav-container">
        <a href={import.meta.env.BASE_URL} class="logo">Мой Блог</a>
        <nav class="main-nav">
            <a href={import.meta.env.BASE_URL} class={active === 'articles' ? 'active' : ''}>Статьи</a>
            <a href={`${import.meta.env.BASE_URL}about`} class={active === 'about' ? 'active' : ''}>Обо мне</a>
        </nav>
    </div>
</header>
